/* ! Global Style */
.fw-300 {
  font-weight: 300;
}

.App {
  min-height: 100vh;
}

.custom-input {
  border-radius: 5px !important;
  margin-bottom: 15px;
  padding: 15px !important;
}

.custom-input:hover {
  border-color: #ced4da !important;
}

/* ! Header */
header,
header nav {
  min-height: 4rem;
}

/* ! Sidebar CSS */

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
  background-color: #f7f7f7;
  border-right: 1px solid #ececec;
  overflow-y: scroll;
}

.sidebar .sidebar__nav > li > a {
  display: block;
  padding: 0.5rem 0;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}

.sidebar .sidebar__nav > li > a:hover,
.sidebar .sidebar__nav > li > a.active {
  color: #4285f4;
}

/* ! React Datepicker */
.react-datepicker-wrapper {
  width: 100%;
}

.btn {
  text-transform: none;
}

/* ! Login */

.login-page,
.login-page .flex-row {
  height: 100vh;
}

.login-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px 30px;
  background: #f4f9ff;
  border-radius: 5px;
  border: 1px solid #007bff;
}

.login-container .header {
  text-align: center;
}

.login-container .header h1 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cbe3ff;
  margin-bottom: 20px;
}

.login-container .body {
}
